.icon {
    width: 2.5em;
    height: 2.5em;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > img {
    width: 60%;
}