.card{
    display: flex;
    background-color: #FBFBFB;
    align-items: center;
    width: 280px;
    height: 130px;
    padding-left: 45px;
    gap: 24px;
}
.info{
    font-weight: bold ;
    font-size : 20px ;
    margin-bottom: 0;
}
.text{
    font-size: 14px;
    margin-top: 0;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}